<!DOCTYPE html>

<html x-ng-app="app">
	
	<head>
		
		<meta charset="UTF-8"> 
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
	    <meta name="viewport" content="width=device-width, initial-scale=1">
	    
		<title>Wybory Prezydenta Rzeczypospolitej Polskiej</title>
		
		<link type="text/css" rel="stylesheet" href="styles.css">
		<link type="text/css" rel="stylesheet" href="bootstrap.min.css">
		
		<script type="text/javascript" src="jscript/jquery-1.11.2.min.js"></script>
		<script type="text/javascript" src="jscript/Candidate.js"></script>
		<script type="text/javascript" src="jscript/KlkParser.js"></script>
		<script type="text/javascript" src="jscript/PollingStationData.js"></script>
		<script type="text/javascript" src="jscript/ValidationRules.js"></script> 
		<script type="text/javascript" src="jscript/Sending.js"></script>
		<script type="text/javascript" src="jscript/FillingWithExampleData.js"></script>
		<script type="text/javascript" src="jscript/Printing.js"></script> 
		
	</head>
	
		<body x-ng-controller="kalkulatorController">
		
		<div class="container-box">	
			
			<form id="theForm" action="PdfServlet" method="post">
				
				<div class="col-md-12 no-padding">
					<h1 style="text-transform: uppercase;">Kalkulator OpenPKW - Komisja Obwodowa</h1>
					<input type="hidden" id="liczba_wyborcow" name="liczba_wyborcow" value="">
					<input type="hidden" id="pdfMethod" name="pdfMethod"/>
					<p>Test automatycznego buildowania Jenkinsem - v4</p>
					<p class="info">Wersja 11. Wypełnienie formularza przykładowymi danymi. Dwie wersje drukowania formularza jako pliku PDF. Zalążek generowania formularza w formacie XML. Taksonomia geograficzna pobierana jest ze słownika <a href="teryt.json">TERYT</a>. Dane komisji obwodowych pobierane pobierane są z <a href="106101.xml">pliku KLK</a> (na razie tylko dla Łodzi).</p>
					
					<div class="select-data col-md-12 no-padding">
						<div class="col-md-6 padding-left-0">
							<label for="wyborWojewodztwa">Wybierz wyjewództwo</label>
					        <div class="style-selected">
						        <select id="wyborWojewodztwa"
						                x-ng-options="v.name for v in m.geographyTaxonomy"
						                x-ng-model="m.voivodship"
						                x-ng-change="ctrl.selectFirstDistrict()">
						        </select>
					        </div>
				        </div>
				        
				        <div class="col-md-6 padding-right-0">
							<label for="wyborPowiatu" >Wybierz powiat</label>
					        
					        <div class="style-selected">
						        <select id="wyborPowiatu" 
						                x-ng-options="d.name+' ('+d.type+')' for d in m.voivodship.children" 
						                x-ng-model="m.district" 
						                x-ng-change="ctrl.selectFirstCommunity()">
						        </select>
					       </div>
				        </div>
				        
					</div>
					
					<div class="select-data col-md-12 no-padding">
						
						<div class="col-md-6 padding-left-0">
							<label for="wyborGminy" >Wybierz gminę</label>
					        
					        <div class="style-selected">
						        <select id="wyborGminy" 
						                x-ng-options="c.name+' ('+c.type+')' for c in m.district.children" 
						                x-ng-model="m.community">
						        </select>
					       </div>
				        </div>
				        
				        <div class="col-md-6 padding-right-0">
							<label for="wyborOKW" >Wybierz obwód</label>
					        
					        <div class="style-selected">
						        <select id="wyborOKW" 
						                x-ng-options="'Obwód nr '+p.nrObwodu+': '+p.siedzibaKomisjiObwodowej for p in m.pollingStationsData"
						                x-ng-model="m.pollingStation">
						        </select>
					       </div>
				        </div>
					</div>
							
					<hr>
				</div>
				
				<div class="col-md-12 no-padding top-button"><button class="black" type="button" onClick="fill()">Wypełnij formularz przykładowymi danymi</button></div>
				<hr>
				<div class="col-md-12 no-padding top-button" style="margin-bottom: 30px; ">
					<button class="yellow" type="button" onClick="validate()">Sprawdź formularz</button>
					<button class="green" type="button" onClick="send()">Wyślij formularz</button>
					<button class="blue" type="button" onClick="printForm(1); return false;">Wydrukuj formularz (metoda 1)</button>
					<button class="darkblue" type="button" onClick="printForm(2); return false;">Wydrukuj formularz (metoda 2)</button>
				</div>
				<hr>
			
				<div class="col-md-12 no-padding">
					<div class="main-table-calc">
						<div class="top-data">
							
							<div class="data-row">
								<h1 class="font-bold" >Wybory Prezydenta rzeczypospolitej polskiej</h1>
							</div>
							
							<div class="data-row">
								<div class="col-md-6 height-100">
									<div class="col-md-5 height-100">
										<h4 class="align-left size-h4">Kod terytorialny gminy (dzielnicy w m. st. Warszawie)</h4>
									</div>
									<div class="col-md-7 height-100">
										
										<div class="number-cell border-solid-right">
											<input type="text" id="kodGminy" name="kodGminy" value ="" x-ng-value="m.pollingStation.kodGminy" readonly class="space">
										</div>
										
									</div>
								</div>
								<div class="col-md-6 height-100 padding-right-0">
									
									<div class="col-md-7 height-100" >
										<h4 class="data-title align-right size-h4">Nr obwodu głosowania</h4>
									</div>
									<div class="col-md-5 height-100 padding-right-0">
										<div class="number-cell">
											<input type="text" id="nrObwodu" name="nrObwodu" x-ng-value="m.pollingStation.nrObwodu" value ="" readonly class="space">
										</div>
									</div>
									
								</div>
							</div>
							
							<div class="data-row">
								<div class="col-md-4 last-cell height-100 display-table">
									<h4 class="align-right size-h4 cell-style-center">Siedziba Obwodowej Komisji Wyborczej (adres)</h4>
								</div>
								<div class="col-md-8 height-100">
									<input class="input-cell" type="text" id="adresOKW" name="adresOKW" x-ng-value="m.pollingStation.siedzibaKomisjiObwodowej"readonly>
								</div>
							</div>
							
							<div class="data-row last-no-border">
								<div class="col-md-4 last-cell height-100">
									<div class="col-md-4 height-100 display-table">
										<p class="cell-style-center">Gmina / Dzielnica</p>
									</div>
									<div class="col-md-8 number-cell height-100 no-padding">
										<input type="text" id="gmina" name="gmina" x-ng-value="m.pollingStation.gmina" value =""readonly>
									</div>
								</div>
								<div class="col-md-3 last-cell height-100 padding-left-0">
									<div class="col-md-4 height-100 no-padding display-table">
										<p class="cell-style-center">Powiat</p>
									</div>
									<div class="col-md-8 number-cell height-100 no-padding"> 
										<input type="text" id="powiat" name="powiat" x-ng-value="m.pollingStation.powiat" value =""readonly>
									</div>
								</div>
								<div class="col-md-5 height-100 padding-left-0">
									<div class="col-md-4 height-100 no-padding display-table">
										<p class="cell-style-center">Województwo</p>
									</div>
									<div class="col-md-8 number-cell height-100 no-padding">
										<input type="text" id="wojewodztwo" name="wojewodztwo" x-ng-value="m.pollingStation.wojewodztwo" value="" readonly>
									</div>
								</div>
							</div>
						</div>
						
						<div class="middle-data">
							
							<h3 class="size-h3 align-center">Protokół wyników głosowania w obwodziew wyborach Prezydenta Rzeczypospolitej Polskiej przeprowadzonego w dniu 
								<input class="align-center input-info" type="text" id="dataGlosowania" name="dataGlosowania" value ="" placeholder="Wprowadź datę"></h3>
							<p>Głosowanie rozpoczęło się dnia 
								<input class="input-info align-center" type="text" id="dataGlosowania" name="dataGlosowania" value ="" placeholder="Wprowadź datę"> o godz. 
								<input class="input-info align-center" type="text" id="godzinaGlosowaniaOd" name="godzinaGlosowaniaOd" value ="" placeholder="Godz. rozpoczęcia"> i trwało do godz. 
								<input class="input-info align-center" type="text" id="godzinaGlosowaniaDo" name="godzinaGlosowaniaDo" value ="" placeholder="Godz. zakończenia"> </p>
							
							<div class="col-md-12" style="padding-top: 30px; padding-left: 0; padding-right: 0;">
								
								<h3 class="size-h3 font-bold">I. Rozliczenie kart do głosowania</h3>
								
								<div class="middle-data-box">
									
									<div class="data-row middle-row col-md-12 no-padding bg-1 height-100 border-top border-bottom">
										<div class="col-md-1 last-cell height-100 align-center display-table"><p class="cell-style-center">1</p></div>
										<div class="col-md-8 height-100 display-table">
											<p class="cell-style-center-left">Liczba wyborców uprawnionych do głosowania <i>(umieszczonych w spisie, z uwzględnieniem dodatkowych formularzy)</i> w chwili zakończenia głosowania</p>
										</div>
										<div class="col-md-3 height-100 padding-right-0 ">
											<div class="number-cell"><input class="space" type="text" id="pole_1_1" name="pole_1_1" value =""></div>
										</div>
									</div>
									
									<div class="data-row col-md-12 no-padding bg-2 height-100 middle-row border-bottom">
										<div class="col-md-1 last-cell height-100 align-center display-table"><p class="cell-style-center">2</p></div>
										<div class="col-md-8 height-100 display-table">
											<p class="cell-style-center-left">Komisja otrzymała kart do głosowania</p>
										</div>
										<div class="col-md-3 height-100 padding-right-0">
											<div class="number-cell"><input class="space" type="text" id="pole_1_2" name="pole_1_21" value =""></div>
										</div>
									</div>
									
									<div class="data-row col-md-12 no-padding bg-1 height-100 middle-row border-bottom">
										<div class="col-md-1 last-cell height-100 align-center display-table"><p class="cell-style-center">3</p></div>
										<div class="col-md-8 height-100 display-table">
											<p class="cell-style-center-left">Nie wykorzystano kart do głosowania</p>
										</div>
										<div class="col-md-3 height-100 padding-right-0">
											<div class="number-cell"><input class="space" type="text" id="pole_1_3" name="pole_1_3" value =""></div>
										</div>
									</div>
									
									<div class="data-row col-md-12 no-padding bg-2 height-100 middle-row border-bottom">
										<div class="col-md-1 last-cell height-100 align-center display-table"><p class="cell-style-center">4</p></div>
										<div class="col-md-8 height-100 display-table">
											<p class="cell-style-center-left">Liczba wyborców, którym wydano karty do głosowania <i>(liczba podpisów w spisie oraz adnotację "odmowa podpisu")</i></p>
										</div>
										<div class="col-md-3 height-100 padding-right-0">
											<div class="number-cell"><input class="space" type="text" id="pole_1_4" name="pole_1_4" value =""></div>
										</div>
									</div>
								
									<div class="col-md-12 no-padding middle-row height-100">
										<p class="bottom-info"><b>Uwaga!</b> Suma liczb z pkt. 3 i 4 powinna być równa liczbie z pkt. 2. Jeśli tak nie jest, przypuszczalną przyczynę należy omówić w pkt. 9.</p>
									</div>
								</div>
								
								<div class="middle-data-box">
									
									<div class="data-row middle-row col-md-12 no-padding bg-2 height-100 border-top border-bottom">
										<div class="col-md-1 last-cell height-100 align-center display-table"><p class="cell-style-center">5</p></div>
										<div class="col-md-8 height-100 display-table">
											<p class="cell-style-center-left">Liczba wyborców głosujących przez pełnomocnika <i>(liczba kart do głosowania wydanych na podstawie otrzymanych przez komisję aktów pełnomocnictwa)</i></p>
										</div>
										<div class="col-md-3 height-100 padding-right-0">
											<div class="number-cell"><input class="space" type="text" id="pole_1_5" name="pole_1_5" value =""></div>
										</div>
									</div>
									
								</div>
								
								<div class="middle-data-box">
									
									<div class="data-row middle-row col-md-12 no-padding bg-1 height-100 border-top border-bottom">
										<div class="col-md-1 last-cell height-100 align-center display-table"><p class="cell-style-center">6</p></div>
										<div class="col-md-8 height-100 display-table">
											<p class="cell-style-center-left">Liczba wyborców głosujących na podstawie zaświadczenia o prawie do głosowania</p>
										</div>
										<div class="col-md-3 height-100 padding-right-0">
											<div class="number-cell"><input class="space" type="text" id="pole_1_6" name="pole_1_6" value =""></div>
										</div>
									</div>
									
								</div>
								
								<div class="middle-data-box">
									
									<div class="data-row middle-row col-md-12 no-padding bg-2 height-100 border-top border-bottom">
										<div class="col-md-1 last-cell height-100 align-center display-table"><p class="cell-style-center">7</p></div>
										<div class="col-md-8 height-100 display-table">
											<p class="cell-style-center-left">Liczba wyborców, którym wysłano pakiety wyborcze</p>
										</div>
										<div class="col-md-3 height-100 padding-right-0">
											<div class="number-cell"><input class="space" type="text" id="pole_1_7" name="pole_1_7" value =""></div>
										</div>
									</div>
									
									<div class="data-row middle-row col-md-12 no-padding bg-1 height-100 border-bottom">
										<div class="col-md-1 last-cell height-100 align-center display-table"><p class="cell-style-center">8</p></div>
										<div class="col-md-8 height-100 display-table">
											<p class="cell-style-center-left">Liczba otrzymanych kopert zwrotnych</p>
										</div>
										<div class="col-md-3 height-100 padding-right-0">
											<div class="number-cell"><input class="space" type="text" id="pole_1_8" name="pole_1_8" value =""></div>
										</div>
									</div>
									
									<div class="data-row middle-row col-md-12 no-padding bg-2 height-100 border-bottom">
										<div class="col-md-1 last-cell height-100 align-center display-table"><p class="cell-style-center">8a</p></div>
										<div class="col-md-8 height-100 display-table">
											<p class="cell-style-center-left">Liczba kopert zwrotnych, w których nie było oświadczenia o osobistym i tajnym oddaniu głosu</p>
										</div>
										<div class="col-md-3 height-100 padding-right-0">
											<div class="number-cell"><input class="space" type="text" id="pole_1_8a" name="pole_1_8a" value =""></div>
										</div>
									</div>
									
									<div class="data-row middle-row col-md-12 no-padding bg-1 height-100 border-bottom">
										<div class="col-md-1 last-cell height-100 align-center display-table"><p class="cell-style-center">8b</p></div>
										<div class="col-md-8 height-100 display-table">
											<p class="cell-style-center-left">Liczba kopert zwrotnych, w których oświadczenie nie było podpisane przez wyborcę</p>
										</div>
										<div class="col-md-3 height-100 padding-right-0">
											<div class="number-cell"><input class="space" type="text" id="pole_1_8b" name="pole_1_8b" value =""></div>
										</div>
									</div>
									
									<div class="data-row middle-row col-md-12 no-padding bg-2 height-100 border-bottom">
										<div class="col-md-1 last-cell height-100 align-center display-table"><p class="cell-style-center">8c</p></div>
										<div class="col-md-8 height-100 display-table">
											<p class="cell-style-center-left">Liczba kopert zwrotnych, w których nie było koperty na kartę do głosowania</p>
										</div>
										<div class="col-md-3 height-100 padding-right-0">
											<div class="number-cell"><input class="space" type="text" id="pole_1_8c" name="pole_1_8c" value =""></div>
										</div>
									</div>
									
									<div class="data-row middle-row col-md-12 no-padding bg-1 height-100 border-bottom">
										<div class="col-md-1 last-cell height-100 align-center display-table"><p class="cell-style-center">8d</p></div>
										<div class="col-md-8 height-100 display-table">
											<p class="cell-style-center-left">Liczba kopert zwrotnych, w których znajdowała się niezaklejona koperta na kartę do głosowania</p>
										</div>
										<div class="col-md-3 height-100 padding-right-0">
											<div class="number-cell"><input class="space" type="text" id="pole_1_8d" name="pole_1_8d" value =""></div>
										</div>
									</div>
									
									<div class="data-row middle-row col-md-12 no-padding bg-2 height-100 border-bottom">
										<div class="col-md-1 last-cell height-100 align-center display-table"><p class="cell-style-center">8e</p></div>
										<div class="col-md-8 height-100 display-table">
											<p class="cell-style-center-left">Liczba kopert na kartę do głosowania wrzuconych do urny</p>
										</div>
										<div class="col-md-3 height-100 padding-right-0">
											<div class="number-cell"><input class="space" type="text" id="pole_1_8e" name="pole_1_8e" value =""></div>
										</div>
									</div>
									
									<div class="col-md-12 no-padding middle-row height-100">
										<p class="bottom-info"><b>Uwaga!</b> Liczba z pkt. 8 nie może być większa od liczby z pkt. 7. Suma liczba z pkt. 8a–8e nie może być większa od liczby z pkt. 8.</p>
									</div>
							</div>
							
							<h3 class="size-h3 font-bold">II. Ustalenie wyników głosowania</h3>
							<p>Komisja stwierdziła, że pieczęcie na urnie pozostały nienaruszone. Po wyjęciu kart z urny Komisja ustaliła na ich podstawie następujące wyniki głosowania</p>
							<div class="middle-data-box">
									
									<div class="data-row middle-row col-md-12 no-padding bg-1 height-100 border-top border-bottom">
										<div class="col-md-1 last-cell height-100 align-center display-table"><p class="cell-style-center">9</p></div>
										<div class="col-md-8 height-100 display-table">
											<p class="cell-style-center-left">Liczba kopert na kartę do głosowania wrzuconych do urny</p>
										</div>
										<div class="col-md-3 height-100 padding-right-0">
											<div class="number-cell"><input class="space" type="text" id="pole_2_9" name="pole_2_9" value =""></div>
										</div>
									</div>
									
									<div class="data-row middle-row col-md-12 no-padding bg-2 height-100 border-bottom">
										<div class="col-md-1 last-cell height-100 align-center display-table"><p class="cell-style-center">9a</p></div>
										<div class="col-md-8 height-100 display-table">
											<p class="cell-style-center-left">Liczba kopert na kartę do głosowania wrzuconych do urny</p>
										</div>
										<div class="col-md-3 height-100 padding-right-0">
											<div class="number-cell"><input class="space" type="text" id="pole_2_9a" name="pole_2_9a" value =""></div>
										</div>
									</div>
									
									<div class="col-md-12 no-padding middle-row height-100">
										<p class="bottom-info"><b>Uwaga!</b> Liczba z pkt. 9 pomniejszona o liczbę z pkt. 9a powinna być równa liczbie z pkt. 4. Dodatkowo liczba z pkt. 9a nie powinna być większa od liczby z pkt. 8e; jeśli tak nie jest &mdash; przypuszczalną przyczynę należy opisać w punkcie 16.</p>
									</div>
							
						</div>
						
						<div class="middle-data-box">
									
									<div class="data-row middle-row col-md-12 no-padding bg-1 height-100 border-top border-bottom">
										<div class="col-md-1 last-cell height-100 align-center display-table"><p class="cell-style-center">10</p></div>
										<div class="col-md-8 height-100 display-table">
											<p class="cell-style-center-left">Liczba kart nieważnych <i>(innych niż urzędowo ustalone lub nieopatrzonych pieczęcią obwodowej komisji wyborczej)</i></p>
										</div>
										<div class="col-md-3 height-100 padding-right-0">
											<div class="number-cell"><input class="space" type="text" id="pole_2_10" name="pole_2_10" value =""></div>
										</div>
									</div>
									
									<div class="data-row middle-row col-md-12 no-padding bg-2 height-100 border-bottom">
										<div class="col-md-1 last-cell height-100 align-center display-table"><p class="cell-style-center">11</p></div>
										<div class="col-md-8 height-100 display-table">
											<p class="cell-style-center-left">Liczba kart ważnych</p>
										</div>
										<div class="col-md-3 height-100 padding-right-0">
											<div class="number-cell"><input class="space" type="text" id="pole_2_11" name="pole_2_11" value =""></div>
										</div>
									</div>
									
									<div class="col-md-12 no-padding middle-row height-100">
										<p class="bottom-info"><b>Uwaga!</b> Suma liczb z pkt. 10 i 11 <b>musi</b> być równa liczbie z pkt. 9. Jeśli w pkt. 10 liczba jest większa niż 0, przyczynę należy opisać w pkt. 17.</p>
									</div>
							
						</div>
						
						<div class="middle-data-box">
									
									<div class="data-row middle-row col-md-12 no-padding bg-1 height-100 border-top border-bottom">
										<div class="col-md-1 last-cell height-100 align-center display-table"><p class="cell-style-center">12</p></div>
										<div class="col-md-8 height-100 display-table">
											<p class="cell-style-center-left">Liczba głosów nieważnych <i>(z kart ważnych)</i></p>
										</div>
										<div class="col-md-3 height-100 padding-right-0">
											<div class="number-cell"><input class="space" type="text" id="pole_2_12" name="pole_2_12" value =""></div>
										</div>
									</div>
									
									<div class="data-row middle-row col-md-12 no-padding bg-2 height-100 border-bottom">
										<div class="col-md-1 last-cell height-100 align-center display-table"><p class="cell-style-center">13</p></div>
										<div class="col-md-8 height-100 display-table">
											<p class="cell-style-center-left">Liczba głosów ważnych oddanych łącznie na wszystkich kandydatów <i>(z kart ważnych)</i></p>
										</div>
										<div class="col-md-3 height-100 padding-right-0">
											<div class="number-cell"><input class="space" type="text" id="pole_2_13" name="pole_2_13" value =""></div>
										</div>
									</div>
									
									<div class="col-md-12 no-padding middle-row height-100">
										<p class="bottom-info"><b>Uwaga!</b> Suma liczb z pkt. 12 i 13 <b>musi</b> być równa liczbie z pkt. 11.</p>
									</div>
							
						</div>
						
						<h4 class="font-bold" style="font-size: 18px;">14. Na poszczególnych kandydatów na Prezydenta Rzeczypospolitej Polskiej oddano następujące liczby głosów ważnych:</h4>
						<div class="middle-data-box">
									
									<div class="data-row middle-row col-md-12 no-padding bg-2 height-100 border-top border-bottom">
										<div class="col-md-1 last-cell height-100 align-center display-table"><p class="cell-style-center font-bold">Lp.</p></div>
										<div class="col-md-8 height-100 display-table">
											<p class="cell-style-center font-bold">Imię i nazwisko</p>
										</div>
										<div class="col-md-3 height-100 padding-right-0 display-table">
											<p class="cell-style-center number-cell font-bold">Liczba głosów ważnych</p>
										</div>
									</div>
									
									
									<div class="data-row middle-row col-md-12 no-padding bg-1 height-100 border-bottom">
										<div class="col-md-1 border-solid-right height-100 align-center display-table"><p class="cell-style-center">{{c.positionOnList}}</p></div>
										<div class="col-md-8 height-100 display-table">
											<div class="number-cell no-border"><input readonly class="cell-style-center-left" type="text" id="pole_2_13" name="pole_2_13" value =""></div>
										</div>
										<div class="col-md-3 height-100 padding-right-0">
											<div class="number-cell"><input placeholder="Wprowadź liczbę głosów" type="text" id="kandydat_{{c.positionOnList}}_liczba_glosow_waznych" name="kandydat_{{c.positionOnList}}_liczba_glosow_waznych"></div>
										</div>
									</div>
									
									<div class="data-row middle-row col-md-12 no-padding bg-2 height-100 border-bottom">
										<div class="col-md-1 border-solid-right height-100 align-center display-table"><p class="cell-style-center">{{c.positionOnList}}</p></div>
										<div class="col-md-8 height-100 display-table">
											<div class="number-cell no-border"><input readonly class="cell-style-center-left" type="text" id="pole_2_13" name="pole_2_13" value =""></div>
										</div>
										<div class="col-md-3 height-100 padding-right-0">
											<div class="number-cell"><input placeholder="Wprowadź liczbę głosów" type="text" id="kandydat_{{c.positionOnList}}_liczba_glosow_waznych" name="kandydat_{{c.positionOnList}}_liczba_glosow_waznych"></div>
										</div>
									</div>
									
									<div class="data-row middle-row col-md-12 no-padding bg-1 height-100 border-bottom">
										<div class="col-md-1 border-solid-right height-100 align-center display-table"><p class="cell-style-center">{{c.positionOnList}}</p></div>
										<div class="col-md-8 height-100 display-table">
											<div class="number-cell no-border"><input readonly class="cell-style-center-left" type="text" id="pole_2_13" name="pole_2_13" value =""></div>
										</div>
										<div class="col-md-3 height-100 padding-right-0">
											<div class="number-cell"><input placeholder="Wprowadź liczbę głosów" type="text" id="kandydat_{{c.positionOnList}}_liczba_glosow_waznych" name="kandydat_{{c.positionOnList}}_liczba_glosow_waznych"></div>
										</div>
									</div>
									
									<div class="data-row middle-row col-md-12 no-padding bg-2 height-100 border-bottom">
										<div class="col-md-1 border-solid-right height-100 align-center display-table"><p class="cell-style-center">{{c.positionOnList}}</p></div>
										<div class="col-md-8 height-100 display-table">
											<div class="number-cell no-border"><input readonly class="cell-style-center-left" type="text" id="pole_2_13" name="pole_2_13" value =""></div>
										</div>
										<div class="col-md-3 height-100 padding-right-0">
											<div class="number-cell"><input placeholder="Wprowadź liczbę głosów" type="text" id="kandydat_{{c.positionOnList}}_liczba_glosow_waznych" name="kandydat_{{c.positionOnList}}_liczba_glosow_waznych"></div>
										</div>
									</div>
									
									<div class="data-row middle-row col-md-12 no-padding bg-1 height-100 border-bottom">
										<div class="col-md-1 border-solid-right height-100 align-center display-table"><p class="cell-style-center">{{c.positionOnList}}</p></div>
										<div class="col-md-8 height-100 display-table">
											<div class="number-cell no-border"><input readonly class="cell-style-center-left" type="text" id="pole_2_13" name="pole_2_13" value =""></div>
										</div>
										<div class="col-md-3 height-100 padding-right-0">
											<div class="number-cell"><input placeholder="Wprowadź liczbę głosów" type="text" id="kandydat_{{c.positionOnList}}_liczba_glosow_waznych" name="kandydat_{{c.positionOnList}}_liczba_glosow_waznych"></div>
										</div>
									</div>
									
									
									<div class="col-md-12 no-padding height-100 middle-row">
										<p class="bottom-info"><b>Uwaga!</b> Suma głosów oddanych na wszystkich kandydatów (rubryka ,,Razem'') <b>musi</b> być równa liczbie z pkt. 13, czyli liczbie głosów ważnych oddanych łącznie na wszystkich kandydatów.</p>
									</div>
							
						</div>
						
						<h3 class="size-h3 font-bold">III. Uwagi i adnotacjea</h3>
						<p>Komisja stwierdziła, że pieczęcie na urnie pozostały nienaruszone. Po wyjęciu kart z urny Komisja ustaliła na ich podstawie następujące wyniki głosowania</p>	
						<div class="middle-data-box">
									
									<div class="data-row bottom-row col-md-12 no-padding bg-1 height-100 border-top border-bottom">
										<div class="col-md-1 last-cell height-100 align-center display-table"><p class="cell-style-center">15**</p></div>
										<div class="col-md-6 height-100 display-table">
											<p class="cell-style-center-left">Uwagi o przypuszczalnej przyczynie ewentualnej różnicy pomiędzy sumą liczb z pkt. 3 i 4, a liczbą z pkt. 2. Jeżeli różnica nie występuje, wpisać &#8222;brak uwag&#8221;.</p>
										</div>
										<div class="col-md-5 height-100 padding-right-0">
											<div class="number-cell"><textarea id="uwagi_3_15" name="uwagi_3_15" placeholder="Wprowadź uwagi"></textarea></div>
										</div>
									</div>
									
									<div class="data-row bottom-row col-md-12 no-padding bg-2 height-100 border-bottom">
										<div class="col-md-1 last-cell height-100 align-center display-table"><p class="cell-style-center">16**</p></div>
										<div class="col-md-6 height-100 display-table">
											<p class="cell-style-center-left">Uwagi o przypuszczalnej przyczynie ewentualnej różnicy pomiędzy liczbą z pkt. 9 pomniejszoną o liczbę z pkt. 9a, a liczbą z pkt. 4, a także o przypuszczalnej przyczynie ewentualnej różnicy pomiędzy liczbą z pkt. 9a a liczbą z pkt. 8e. Jeżeli różnica nie występuje, wpisać &#8222;brak uwag&#8221;.</p>
										</div>
										<div class="col-md-5 height-100 padding-right-0">
											<div class="number-cell"><textarea id="uwagi_3_16" name="uwagi_3_16" placeholder="Wprowadź uwagi"></textarea></div>
										</div>
									</div>
									
									<div class="data-row bottom-row col-md-12 no-padding bg-1 height-100 border-bottom">
										<div class="col-md-1 last-cell height-100 align-center display-table"><p class="cell-style-center">17**</p></div>
										<div class="col-md-6 height-100 display-table">
											<p class="cell-style-center-left">Uwagi o przypuszczalnej przyczynie wystąpienia kart nieważnych (pkt. 10); jeżeli liczba w pkt. 10 wynosi 0, wpisać &#8222;brak uwag&#8221;.</p>
										</div>
										<div class="col-md-5 height-100 padding-right-0">
											<div class="number-cell"><textarea id="uwagi_3_17" name="uwagi_3_17" placeholder="Wprowadź uwagi"></textarea></div>
										</div>
									</div>
									
									<div class="data-row bottom-row col-md-12 no-padding bg-2 height-100 border-bottom">
										<div class="col-md-1 last-cell height-100 align-center display-table"><p class="cell-style-center">18**</p></div>
										<div class="col-md-6 height-100 display-table">
											<p class="cell-style-center-left">W trakcie głosowana wydano następujące zarządzenia. Jeżeli nie wydano, wpisać &#8222;brak zarządzeń&#8221;.</p>
										</div>
										<div class="col-md-5 height-100 padding-right-0">
											<div class="number-cell"><textarea id="uwagi_3_18" name="uwagi_3_18" placeholder="Wprowadź uwagi"></textarea></div>
										</div>
									</div>
									
									<div class="data-row bottom-row col-md-12 no-padding bg-1 height-100 border-bottom">
										<div class="col-md-1 last-cell height-100 align-center display-table"><p class="cell-style-center">19**</p></div>
										<div class="col-md-6 height-100 display-table">
											<p class="cell-style-center-left">Adnotacje o wniesieniu uwag przez mężów zaufania z wymienieniem konkretnych zarzutów. Jeżeli nie ma, wpisać &#8222;brak zarzutów&#8221; lub &#8222;brak mężów zaufania w obwodzie&#8221;.</p>
										</div>
										<div class="col-md-5 height-100 padding-right-0">
											<div class="number-cell"><textarea id="uwagi_3_19" name="uwagi_3_19" placeholder="Wprowadź uwagi"></textarea></div>
										</div>
									</div>
									
									<div class="data-row bottom-row col-md-12 no-padding bg-2 height-100 border-bottom">
										<div class="col-md-1 last-cell height-100 align-center display-table"><p class="cell-style-center">20**</p></div>
										<div class="col-md-6 height-100 display-table">
											<p class="cell-style-center-left">Adnotacje o wniesieniu uwag przez członków Komisji z wymienieniem konkretnych zarzutów. Jeżeli nie ma, wpisać &#8222;brak zarzutów&#8221;.</p>
										</div>
										<div class="col-md-5 height-100 padding-right-0">
											<div class="number-cell"><textarea id="uwagi_3_20" name="uwagi_3_20" placeholder="Wprowadź uwagi"></textarea></div>
										</div>
									</div>
									
									<div class="data-row bottom-row col-md-12 no-padding bg-1 height-100 border-bottom">
										<div class="col-md-1 last-cell height-100 align-center display-table"><p class="cell-style-center">21**</p></div>
										<div class="col-md-6 height-100 display-table">
											<p class="cell-style-center-left">Inne uwagi. Jeżeli nie ma, wpisać &#8222;brak uwag&#8221;.</p>
										</div>
										<div class="col-md-5 height-100 padding-right-0">
											<div class="number-cell"><textarea id="uwagi_3_21" name="uwagi_3_21" placeholder="Wprowadź uwagi"></textarea></div>
										</div>
									</div>

									
									<div class="col-md-12 no-padding middle-row height-100">
										<p class="bottom-info" ><b>Uwaga!</b> Suma liczb z pkt. 12 i 13 <b>musi</b> być równa liczbie z pkt. 11.</p>
									</div>
							</div>
						</div>
						
						<p>Przy sporządzaniu protokołu obecni byli członkowie Komisji:</p>	
						<div class="middle-data-box">
							
							<div class="data-row middle-row col-md-12 no-padding bg-1 height-100 border-top border-bottom">
								<div class="number-cell no-border"><input style="padding: 0 10px;" placeholder="Imię i nazwisko" class="cell-style-center-left" type="text" id="czlonek_01" name="czlonek_01" value =""></div>
							</div>
							
							<div class="data-row middle-row col-md-12 no-padding bg-2 height-100 border-bottom">
								<div class="number-cell no-border"><input style="padding: 0 10px;" placeholder="Imię i nazwisko" class="cell-style-center-left" type="text" id="czlonek_02" name="czlonek_02" value =""></div>
							</div>
							
							<div class="data-row middle-row col-md-12 no-padding bg-1 height-100 border-bottom">
								<div class="number-cell no-border"><input style="padding: 0 10px;" placeholder="Imię i nazwisko" class="cell-style-center-left" type="text" id="czlonek_03" name="czlonek_03" value =""></div>
							</div>
							
							<div class="data-row middle-row col-md-12 no-padding bg-2 height-100 border-bottom">
								<div class="number-cell no-border"><input style="padding: 0 10px;" placeholder="Imię i nazwisko" class="cell-style-center-left" type="text" id="czlonek_04" name="czlonek_04" value =""></div>
							</div>
							
							<div class="data-row middle-row col-md-12 no-padding bg-1 height-100 border-bottom">
								<div class="number-cell no-border"><input style="padding: 0 10px;" placeholder="Imię i nazwisko" class="cell-style-center-left" type="text" id="czlonek_05" name="czlonek_05" value =""></div>
							</div>
							
							<div class="data-row middle-row col-md-12 no-padding bg-2 height-100 border-bottom">
								<div class="number-cell no-border"><input style="padding: 0 10px;" placeholder="Imię i nazwisko" class="cell-style-center-left" type="text" id="czlonek_06" name="czlonek_06" value =""></div>
							</div>
							
							<div class="data-row middle-row col-md-12 no-padding bg-1 height-100 border-bottom">
								<div class="number-cell no-border"><input style="padding: 0 10px;" placeholder="Imię i nazwisko" class="cell-style-center-left" type="text" id="czlonek_07" name="czlonek_07" value =""></div>
							</div>
							
							<div class="data-row middle-row col-md-12 no-padding bg-2 height-100 border-bottom">
								<div class="number-cell no-border"><input style="padding: 0 10px;" placeholder="Imię i nazwisko" class="cell-style-center-left" type="text" id="czlonek_08" name="czlonek_08" value =""></div>
							</div>
							
							<div class="data-row middle-row col-md-12 no-padding bg-1 height-100 border-bottom">
								<div class="number-cell no-border"><input style="padding: 0 10px;" placeholder="Imię i nazwisko" class="cell-style-center-left" type="text" id="czlonek_09" name="czlonek_09" value =""></div>
							</div>
									
						</div>

		
	    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.js"></script>
	    <script src="app/main.js"></script>
	    <script src="app/common/resources.js"></script>
	    <script src="app/kalkulator/kalkulatorController.js"></script>
		
		</form>
	</div>
</body>
</html>
