<!DOCTYPE html>

<html x-ng-app="app">
	
	<head>
		
		<meta charset="UTF-8"> 
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
	    <meta name="viewport" content="width=device-width, initial-scale=1">
	    
		<title>Wybory Prezydenta Rzeczypospolitej Polskiej</title>
		
		<link type="text/css" rel="stylesheet" href="styles.css">
		<link type="text/css" rel="stylesheet" href="bootstrap.min.css">
		
		<script type="text/javascript" src="jscript/jquery-1.11.2.min.js"></script>
		<script type="text/javascript" src="jscript/Candidate.js"></script>
		<script type="text/javascript" src="jscript/KlkParser.js"></script>
		<script type="text/javascript" src="jscript/PollingStationData.js"></script>
		<script type="text/javascript" src="jscript/ValidationRules.js"></script> 
		<script type="text/javascript" src="jscript/Sending.js"></script>
		<script type="text/javascript" src="jscript/FillingWithExampleData.js"></script>
		<script type="text/javascript" src="jscript/Printing.js"></script> 
		
	</head>
	
		<body x-ng-controller="kalkulatorController">
		
		<div class="container-box">	
			
			<form id="theForm" action="PdfServlet" method="post">
				<h1>Kalkulator OpenPKW - Komisja Obwodowa</h1>
				<input type="hidden" id="liczba_wyborcow" name="liczba_wyborcow" value="">
				<input type="hidden" id="pdfMethod" name="pdfMethod"/>
				<p>Test automatycznego buildowania Jenkinsem - v4</p>
				<p class="info">Wersja 11. Wypełnienie formularza przykładowymi danymi. Dwie wersje drukowania formularza jako pliku PDF. Zalążek generowania formularza w formacie XML. Taksonomia geograficzna pobierana jest ze słownika <a href="teryt.json">TERYT</a>. Dane komisji obwodowych pobierane pobierane są z <a href="106101.xml">pliku KLK</a> (na razie tylko dla Łodzi).</p>
				<div>
					<label for="wyborWojewodztwa" style="width: 150px; display: inline-block">Wybierz wyjewództwo</label>
			        <select id="wyborWojewodztwa" style="width: 200px" 
			                x-ng-options="v.name for v in m.geographyTaxonomy"
			                x-ng-model="m.voivodship"
			                x-ng-change="ctrl.selectFirstDistrict()">
			        </select>
					<label for="wyborPowiatu" style="width: 120px; display: inline-block">Wybierz powiat</label>
			        <select id="wyborPowiatu" style="width: 300px" 
			                x-ng-options="d.name+' ('+d.type+')' for d in m.voivodship.children" 
			                x-ng-model="m.district" 
			                x-ng-change="ctrl.selectFirstCommunity()">
			        </select>
				</div>
				<div>
					<label for="wyborGminy" style="width: 150px; display: inline-block">Wybierz gminę</label>
			        <select id="wyborGminy" style="width: 200px" 
			                x-ng-options="c.name+' ('+c.type+')' for c in m.district.children" 
			                x-ng-model="m.community">
			        </select>
					<label for="wyborOKW" style="width: 120px; display: inline-block">Wybierz obwód</label>
			        <select id="wyborOKW" style="width: 300px"
			                x-ng-options="'Obwód nr '+p.nrObwodu+': '+p.siedzibaKomisjiObwodowej for p in m.pollingStationsData"
			                x-ng-model="m.pollingStation"></select>
				</div>		
				<hr>
				<button type="button" onClick="fill()">Wypełnij formularz przykładowymi danymi</button>
				<hr>
				<button type="button" onClick="validate()">Sprawdź formularz</button>
				<button type="button" onClick="send()">Wyślij formularz</button>
				<button type="button" onClick="printForm(1); return false;">Wydrukuj formularz (metoda 1)</button>
				<button type="button" onClick="printForm(2); return false;">Wydrukuj formularz (metoda 2)</button>
				<hr>
			
				
					<div class="main-table-calc">
						<div class="top-data">
							
							<div class="data-row">
								<h1 style="font-weight: bold;">Wybory prezydenta rzeczypospolitej polskiej</h1>
							</div>
							
							<div class="data-row">
								<div class="col-md-6" style="height: 100%; min-height: 100%;">
									<div class="col-md-5" style="height: 100%; min-height: 100%;">
										<h4 class="align-left" style="font-size: 14px; ">Kod terytorialny gminy (dzielnicy w m. st. Warszawie)</h4>
									</div>
									<div style="height: 100%; min-height: 100%;" class="col-md-7">
										<div class="number-cell col-md-2">
											<input type="text" id="kodGminy" name="kodGminy" value ="1"  readonly>
										</div>
										<div class="number-cell col-md-2">
											<input type="text" id="kodGminy" name="kodGminy"  value ="0" readonly>
										</div>
										<div class="number-cell col-md-2">
											<input type="text" id="kodGminy" name="kodGminy" value ="6" readonly>
										</div>
										<div class="number-cell col-md-2">
											<input type="text" id="kodGminy" name="kodGminy" value ="1"readonly>
										</div>
										<div class="number-cell col-md-2">
											<input type="text" id="kodGminy" name="kodGminy" value ="0" readonly>
										</div>
										<div class="number-cell last-cell col-md-2">
											<input type="text" id="kodGminy" name="kodGminy" value ="1" readonly>
										</div>
									</div>
								</div>
								<div class="col-md-6" style="height: 100%; min-height: 100%; padding-right: 0;">
									
									<div class="col-md-7" style="height: 100%; min-height: 100%;">
										<h4 class="top-data-title align-right">Nr obwodu głosowania</h4>
									</div>
									<div class="col-md-5" style="height: 100%; min-height: 100%; padding-right: 0;">
										<div class="number-cell col-md-3">
											<input type="text" id="kodGminy" name="kodGminy" value ="0"  readonly>
										</div>
										<div class="number-cell col-md-3">
											<input type="text" id="kodGminy" name="kodGminy"  value ="2" readonly>
										</div>
										<div class="number-cell col-md-3">
											<input type="text" id="kodGminy" name="kodGminy" value ="5" readonly>
										</div>
										<div class="number-cell col-md-3" style="padding-right: 0;">
											<input type="text" id="kodGminy" name="kodGminy" value ="8"readonly>
										</div>
									</div>
									
								</div>
							</div>
							
							<div class="data-row">
								<div class="col-md-4 last-cell" style="height: 100%; min-height: 100%;">
									<h4 class="align-right" style="font-size: 14px; line-height: 25px;">Siedziba Obwodowej Komisji Wyborczej (adres)</h4>
								</div>
								<div class="col-md-8" style="height: 100%; min-height: 100%;">
									<input class="input-cell" type="text" id="kodGminy" name="kodGminy" value ="XV Liceum Ogólnokształcące im. J. Kasprowicza, ul. Traktorowa 77" readonly>
								</div>
							</div>
							
							<div class="data-row">
								<div class="col-md-4 last-cell" style="height: 100%; min-height: 100%;">
									<div class="col-md-4" style="height: 100%; min-height: 100%;">
										<p style="text-align: center; position: relative; top: 20%;">Gmina / Dzielnica</p>
									</div>
									<div class="col-md-8 number-cell" style="height: 100%; min-height: 100%; padding: 0;">
										<input type="text" id="kodGminy" name="kodGminy" value ="Szczecin"readonly>
									</div>
								</div>
								<div class="col-md-3 last-cell" style="height: 100%; min-height: 100%; padding-left: 0;">
									<div class="col-md-4" style="height: 100%; min-height: 100%; padding: 0;">
										<p style="text-align: center; position: relative; top: 35%;">Powiat</p>
									</div>
									<div class="col-md-8 number-cell" style="height: 100%; min-height: 100%; padding: 0;"> 
										<input type="text" id="kodGminy" name="kodGminy" value ="Szczecin"readonly>
									</div>
								</div>
								<div class="col-md-5" style="height: 100%; min-height: 100%; padding-left: 0;">
									<div class="col-md-4 " style="height: 100%; min-height: 100%; padding: 0;">
										<p style="text-align: center; position: relative; top: 35%;">Województwo</p>
									</div>
									<div class="col-md-8 number-cell" style="height: 100%; min-height: 100%; padding: 0;">
										<input type="text" id="kodGminy" name="kodGminy" value ="Zachodniopomorskie"readonly>
									</div>
								</div>
							</div>
						</div>
						
						<div class="middle-data" style="padding-top: 30px;">
							<h3 style="text-align: center; font-size: 20px;">Protokół wyników głosowania w obwodziew wyborach Prezydenta Rzeczypospolitej Polskiej przeprowadzonego w dniu <input style="text-align: center;  border-bottom: 3px dotted #333; border-left: none; border-right: none; border-top: none; background: none; "type="text" id="kodGminy" name="kodGminy" value ="" placeholder="Wprowadź datę"></h3>
							<p>Głosowanie rozpoczęło się dnia <input style=" text-align: center; border-bottom: 3px dotted #333; border-left: none; border-right: none; border-top: none; background: none; "type="text" id="kodGminy" name="kodGminy" value ="" placeholder="Wprowadź datę"> o godz. <input style=" text-align: center;  border-bottom: 3px dotted #333; border-left: none; border-right: none; border-top: none; background: none; "type="text" id="kodGminy" name="kodGminy" value ="" placeholder="Godz. rozpoczęcia"> i trwało do godz. <input style=" text-align: center;  border-bottom: 3px dotted #333; border-left: none; border-right: none; border-top: none; background: none; text-aling: center;"type="text" id="kodGminy" name="kodGminy" value ="" placeholder="Godz. zakończenia"> </p>
							<div class="col-md-12" style="padding-top: 30px; padding-left: 0; padding-right: 0;">
								<h3 style="font-size: 20px; font-weight: bold">I. Rozliczenie kart do głosowania</h3>
								<div class="middle-data-box">
									<div class="col-md-12 no-padding bg-1" style="height: 100%; min-height: 100%; height: 60px; border-bottom: 1px solid #ddd; border-top: 1px solid #ddd;">
										<div class="col-md-1 last-cell" style="padding: 5px; height: 100%; min-height: 100%; text-align: center; line-height: 50px;">1</div>
										<div class="col-md-8" style="padding: 5px;height: 100%; min-height: 100%;">
											Liczba wyborców uprawnionych do głosowania <i>(umieszczonych w spisie, z uwzględnieniem dodatkowych formularzy)</i> w chwili zakończenia głosowania
										</div>
										<div class="col-md-3" style="height: 100%; min-height: 100%; padding-right: 0;">
											<div class="cell-middle"><input type="text" id="kodGminy" name="kodGminy" value ="0"></div>
											<div class="cell-middle"><input type="text" id="kodGminy" name="kodGminy" value ="0"></div>
											<div class="cell-middle"><input type="text" id="kodGminy" name="kodGminy" value ="0"></div>
											<div class="cell-middle"><input type="text" id="kodGminy" name="kodGminy" value ="0"></div>
											<div class="cell-middle"><input type="text" id="kodGminy" name="kodGminy" value ="0"></div>
										</div>
									</div>
									<div class="col-md-12 no-padding bg-2" style="height: 100%; min-height: 100%; height: 60px; border-bottom: 1px solid #ddd;">
										<div class="col-md-1 last-cell" style="padding: 5px; height: 100%; min-height: 100%; text-align: center; line-height: 50px;">2</div>
										<div class="col-md-8" style="padding: 5px;height: 100%; min-height: 100%; ">
											<span style="display: inline-block; vertical-align: middle;">Komisja otrzymała kart do głosowania</span>
										</div>
										<div class="col-md-3" style="height: 100%; min-height: 100%; padding-right: 0;">
											<div class="cell-middle"><input type="text" id="kodGminy" name="kodGminy" value ="0"></div>
											<div class="cell-middle"><input type="text" id="kodGminy" name="kodGminy" value ="0"></div>
											<div class="cell-middle"><input type="text" id="kodGminy" name="kodGminy" value ="0"></div>
											<div class="cell-middle"><input type="text" id="kodGminy" name="kodGminy" value ="0"></div>
											<div class="cell-middle"><input type="text" id="kodGminy" name="kodGminy" value ="0"></div>
										</div>
									</div>
									<div class="col-md-12 no-padding bg-1" style="height: 100%; min-height: 100%; height: 60px; border-bottom: 1px solid #ddd;">
										<div class="col-md-1 last-cell" style="padding: 5px; height: 100%; min-height: 100%; text-align: center; line-height: 50px;">3</div>
										<div class="col-md-8" style="padding: 5px;height: 100%; min-height: 100%;">
											Nie wykorzystano kart do głosowania
										</div>
										<div class="col-md-3" style="height: 100%; min-height: 100%; padding-right: 0;">
											<div class="cell-middle"><input type="text" id="kodGminy" name="kodGminy" value ="0"></div>
											<div class="cell-middle"><input type="text" id="kodGminy" name="kodGminy" value ="0"></div>
											<div class="cell-middle"><input type="text" id="kodGminy" name="kodGminy" value ="0"></div>
											<div class="cell-middle"><input type="text" id="kodGminy" name="kodGminy" value ="0"></div>
											<div class="cell-middle"><input type="text" id="kodGminy" name="kodGminy" value ="0"></div>
										</div>
									</div>
									<div class="col-md-12 no-padding bg-2" style="border-bottom: 1px solid #ddd; height: 100%; min-height: 100%; height: 60px;">
										<div class="col-md-1 last-cell" style="padding: 5px; height: 100%; min-height: 100%; text-align: center; line-height: 50px;">4</div>
										<div class="col-md-8" style="padding: 5px;height: 100%; min-height: 100%;">
											Liczba wyborców, którym wydano karty do głosowania <i>(liczba podpisów w spisie oraz adnotację "odmowa podpisu")</i>
										</div>
										<div class="col-md-3" style="height: 100%; min-height: 100%; padding-right: 0;">
											<div class="cell-middle"><input type="text" id="kodGminy" name="kodGminy" value ="0"></div>
											<div class="cell-middle"><input type="text" id="kodGminy" name="kodGminy" value ="0"></div>
											<div class="cell-middle"><input type="text" id="kodGminy" name="kodGminy" value ="0"></div>
											<div class="cell-middle"><input type="text" id="kodGminy" name="kodGminy" value ="0"></div>
											<div class="cell-middle"><input type="text" id="kodGminy" name="kodGminy" value ="0"></div>
										</div>
									</div>
								
									<div class="col-md-12 no-padding" style="height: 100%; min-height: 100%; height: 60px; ">
										<p style="padding: 10px;"><b>Uwaga!</b> Suma liczb z pkt. 3 i 4 powinna być równa liczbie z pkt. 2. Jeśli tak nie jest, przypuszczalną przyczynę należy omówić w pkt. 9.</p>
									</div>
								</div>
								
								<div class="middle-data-box">
									
									<div class="col-md-12 no-padding bg-2" style="border-top: 1px solid #ddd; height: 100%; min-height: 100%; height: 60px; border-bottom: 1px solid #ddd;">
										<div class="col-md-1 last-cell" style="padding: 5px; height: 100%; min-height: 100%; text-align: center; line-height: 50px;">5</div>
										<div class="col-md-8" style="padding: 5px;height: 100%; min-height: 100%;">
											Liczba wyborców głosujących przez pełnomocnika <i>(liczba kart do głosowania wydanych na podstawie otrzymanych przez komisję aktów pełnomocnictwa)</i>
										</div>
										<div class="col-md-3" style="height: 100%; min-height: 100%; padding-right: 0;">
											<div class="cell-middle"><input type="text" id="kodGminy" name="kodGminy" value ="0"></div>
											<div class="cell-middle"><input type="text" id="kodGminy" name="kodGminy" value ="0"></div>
											<div class="cell-middle"><input type="text" id="kodGminy" name="kodGminy" value ="0"></div>
											<div class="cell-middle"><input type="text" id="kodGminy" name="kodGminy" value ="0"></div>
											<div class="cell-middle"><input type="text" id="kodGminy" name="kodGminy" value ="0"></div>
										</div>
									</div>
								</div>
								
								<div class="middle-data-box">
									
									<div class="col-md-12 no-padding bg-1" style="border-top: 1px solid #ddd; height: 100%; min-height: 100%; height: 60px; border-bottom: 1px solid #ddd;">
										<div class="col-md-1 last-cell" style="padding: 5px; height: 100%; min-height: 100%; text-align: center; line-height: 50px;">6</div>
										<div class="col-md-8" style="padding: 5px;height: 100%; min-height: 100%;">
											Liczba wyborców głosujących na podstawie zaświadczenia o prawie do głosowania
										</div>
										<div class="col-md-3" style="height: 100%; min-height: 100%; padding-right: 0;">
											<div class="cell-middle"><input type="text" id="kodGminy" name="kodGminy" value ="0"></div>
											<div class="cell-middle"><input type="text" id="kodGminy" name="kodGminy" value ="0"></div>
											<div class="cell-middle"><input type="text" id="kodGminy" name="kodGminy" value ="0"></div>
											<div class="cell-middle"><input type="text" id="kodGminy" name="kodGminy" value ="0"></div>
											<div class="cell-middle"><input type="text" id="kodGminy" name="kodGminy" value ="0"></div>
										</div>
									</div>
									
								</div>
								
								<div class="middle-data-box">
									
									<div class="col-md-12 no-padding bg-2" style="border-top: 1px solid #ddd; height: 100%; min-height: 100%; height: 60px; border-bottom: 1px solid #ddd;">
										<div class="col-md-1 last-cell" style="padding: 5px; height: 100%; min-height: 100%; text-align: center; line-height: 50px;">7</div>
										<div class="col-md-8" style="padding: 5px;height: 100%; min-height: 100%;">
											Liczba wyborców, którym wysłano pakiety wyborcze
										</div>
										<div class="col-md-3" style="height: 100%; min-height: 100%; padding-right: 0;">
											<div class="cell-middle"><input type="text" id="kodGminy" name="kodGminy" value ="0"></div>
											<div class="cell-middle"><input type="text" id="kodGminy" name="kodGminy" value ="0"></div>
											<div class="cell-middle"><input type="text" id="kodGminy" name="kodGminy" value ="0"></div>
											<div class="cell-middle"><input type="text" id="kodGminy" name="kodGminy" value ="0"></div>
											<div class="cell-middle"><input type="text" id="kodGminy" name="kodGminy" value ="0"></div>
										</div>
									</div>
									
									<div class="col-md-12 no-padding bg-1" style=" height: 100%; min-height: 100%; height: 60px; border-bottom: 1px solid #ddd;">
										<div class="col-md-1 last-cell" style="padding: 5px; height: 100%; min-height: 100%; text-align: center; line-height: 50px;">8</div>
										<div class="col-md-8" style="padding: 5px;height: 100%; min-height: 100%;">
											Liczba otrzymanych kopert zwrotnyc
										</div>
										<div class="col-md-3" style="height: 100%; min-height: 100%; padding-right: 0;">
											<div class="cell-middle"><input type="text" id="kodGminy" name="kodGminy" value ="0"></div>
											<div class="cell-middle"><input type="text" id="kodGminy" name="kodGminy" value ="0"></div>
											<div class="cell-middle"><input type="text" id="kodGminy" name="kodGminy" value ="0"></div>
											<div class="cell-middle"><input type="text" id="kodGminy" name="kodGminy" value ="0"></div>
											<div class="cell-middle"><input type="text" id="kodGminy" name="kodGminy" value ="0"></div>
										</div>
									</div>
									
									<div class="col-md-12 no-padding bg-2" style=" height: 100%; min-height: 100%; height: 60px; border-bottom: 1px solid #ddd;">
										<div class="col-md-1 last-cell" style="padding: 5px; height: 100%; min-height: 100%; text-align: center; line-height: 50px;">8a</div>
										<div class="col-md-8" style="padding: 5px;height: 100%; min-height: 100%;">
											Liczba kopert zwrotnych, w których nie było oświadczenia o osobistym i tajnym oddaniu głosu
										</div>
										<div class="col-md-3" style="height: 100%; min-height: 100%; padding-right: 0;">
											<div class="cell-middle"><input type="text" id="kodGminy" name="kodGminy" value ="0"></div>
											<div class="cell-middle"><input type="text" id="kodGminy" name="kodGminy" value ="0"></div>
											<div class="cell-middle"><input type="text" id="kodGminy" name="kodGminy" value ="0"></div>
											<div class="cell-middle"><input type="text" id="kodGminy" name="kodGminy" value ="0"></div>
											<div class="cell-middle"><input type="text" id="kodGminy" name="kodGminy" value ="0"></div>
										</div>
									</div>
									
									<div class="col-md-12 no-padding bg-1" style=" height: 100%; min-height: 100%; height: 60px; border-bottom: 1px solid #ddd;">
										<div class="col-md-1 last-cell" style="padding: 5px; height: 100%; min-height: 100%; text-align: center; line-height: 50px;">8b</div>
										<div class="col-md-8" style="padding: 5px;height: 100%; min-height: 100%;">
											Liczba kopert zwrotnych, w których oświadczenie nie było podpisane przez wyborcę
										</div>
										<div class="col-md-3" style="height: 100%; min-height: 100%; padding-right: 0;">
											<div class="cell-middle"><input type="text" id="kodGminy" name="kodGminy" value ="0"></div>
											<div class="cell-middle"><input type="text" id="kodGminy" name="kodGminy" value ="0"></div>
											<div class="cell-middle"><input type="text" id="kodGminy" name="kodGminy" value ="0"></div>
											<div class="cell-middle"><input type="text" id="kodGminy" name="kodGminy" value ="0"></div>
											<div class="cell-middle"><input type="text" id="kodGminy" name="kodGminy" value ="0"></div>
										</div>
									</div>
									
									<div class="col-md-12 no-padding bg-2" style="height: 100%; min-height: 100%; height: 60px; border-bottom: 1px solid #ddd;">
										<div class="col-md-1 last-cell" style="padding: 5px; height: 100%; min-height: 100%; text-align: center; line-height: 50px;">8c</div>
										<div class="col-md-8" style="padding: 5px;height: 100%; min-height: 100%;">
											Liczba kopert zwrotnych, w których nie było koperty na kartę do głosowania
										</div>
										<div class="col-md-3" style="height: 100%; min-height: 100%; padding-right: 0;">
											<div class="cell-middle"><input type="text" id="kodGminy" name="kodGminy" value ="0"></div>
											<div class="cell-middle"><input type="text" id="kodGminy" name="kodGminy" value ="0"></div>
											<div class="cell-middle"><input type="text" id="kodGminy" name="kodGminy" value ="0"></div>
											<div class="cell-middle"><input type="text" id="kodGminy" name="kodGminy" value ="0"></div>
											<div class="cell-middle"><input type="text" id="kodGminy" name="kodGminy" value ="0"></div>
										</div>
									</div>
									
									<div class="col-md-12 no-padding bg-1" style="height: 100%; min-height: 100%; height: 60px; border-bottom: 1px solid #ddd;">
										<div class="col-md-1 last-cell" style="padding: 5px; height: 100%; min-height: 100%; text-align: center; line-height: 50px;">8d</div>
										<div class="col-md-8" style="padding: 5px;height: 100%; min-height: 100%;">
											Liczba kopert zwrotnych, w których znajdowała się niezaklejona koperta na kartę do głosowania
										</div>
										<div class="col-md-3" style="height: 100%; min-height: 100%; padding-right: 0;">
											<div class="cell-middle"><input type="text" id="kodGminy" name="kodGminy" value ="0"></div>
											<div class="cell-middle"><input type="text" id="kodGminy" name="kodGminy" value ="0"></div>
											<div class="cell-middle"><input type="text" id="kodGminy" name="kodGminy" value ="0"></div>
											<div class="cell-middle"><input type="text" id="kodGminy" name="kodGminy" value ="0"></div>
											<div class="cell-middle"><input type="text" id="kodGminy" name="kodGminy" value ="0"></div>
										</div>
									</div>
									
									<div class="col-md-12 no-padding bg-2" style=" height: 100%; min-height: 100%; height: 60px; border-bottom: 1px solid #ddd;">
										<div class="col-md-1 last-cell" style="padding: 5px; height: 100%; min-height: 100%; text-align: center; line-height: 50px;">8e</div>
										<div class="col-md-8" style="padding: 5px;height: 100%; min-height: 100%;">
											Liczba kopert na kartę do głosowania wrzuconych do urny
										</div>
										<div class="col-md-3" style="height: 100%; min-height: 100%; padding-right: 0;">
											<div class="cell-middle"><input type="text" id="kodGminy" name="kodGminy" value ="0"></div>
											<div class="cell-middle"><input type="text" id="kodGminy" name="kodGminy" value ="0"></div>
											<div class="cell-middle"><input type="text" id="kodGminy" name="kodGminy" value ="0"></div>
											<div class="cell-middle"><input type="text" id="kodGminy" name="kodGminy" value ="0"></div>
											<div class="cell-middle"><input type="text" id="kodGminy" name="kodGminy" value ="0"></div>
										</div>
									
									</div>
									<div class="col-md-12 no-padding" style="height: 100%; min-height: 100%; height: 60px; ">
										<p style="padding: 10px;"><b>Uwaga!</b> Liczba z pkt. 8 nie może być większa od liczby z pkt. 7. Suma liczba z pkt. 8a–8e nie może być większa od liczby z pkt. 8.</p>
									</div>
							</div>
							
							<h3 style="font-size: 20px; font-weight: bold">II. Ustalenie wyników głosowania</h3>
							<p>Komisja stwierdziła, że pieczęcie na urnie pozostały nienaruszone. Po wyjęciu kart z urny Komisja ustaliła na ich podstawie następujące wyniki głosowania</p>
							<div class="middle-data-box">
									
									<div class="col-md-12 no-padding bg-1" style="border-top: 1px solid #ddd; height: 100%; min-height: 100%; height: 60px; border-bottom: 1px solid #ddd;">
										<div class="col-md-1 last-cell" style="padding: 5px; height: 100%; min-height: 100%; text-align: center; line-height: 50px;">9</div>
										<div class="col-md-8" style="padding: 5px;height: 100%; min-height: 100%;">
											Liczba kart wyjętych z urny
										</div>
										<div class="col-md-3" style="height: 100%; min-height: 100%; padding-right: 0;">
											<div class="cell-middle"><input type="text" id="kodGminy" name="kodGminy" value ="0"></div>
											<div class="cell-middle"><input type="text" id="kodGminy" name="kodGminy" value ="0"></div>
											<div class="cell-middle"><input type="text" id="kodGminy" name="kodGminy" value ="0"></div>
											<div class="cell-middle"><input type="text" id="kodGminy" name="kodGminy" value ="0"></div>
											<div class="cell-middle"><input type="text" id="kodGminy" name="kodGminy" value ="0"></div>
										</div>
									</div>
									
									<div class="col-md-12 no-padding bg-2" style=" height: 100%; min-height: 100%; height: 60px; border-bottom: 1px solid #ddd;">
										<div class="col-md-1 last-cell" style="padding: 5px; height: 100%; min-height: 100%; text-align: center; line-height: 50px;">9a</div>
										<div class="col-md-8" style="padding: 5px;height: 100%; min-height: 100%;">
											W tym liczba kart wyjętych z kopert na kartę do głosowania
										</div>
										<div class="col-md-3" style="height: 100%; min-height: 100%; padding-right: 0;">
											<div class="cell-middle"><input type="text" id="kodGminy" name="kodGminy" value ="0"></div>
											<div class="cell-middle"><input type="text" id="kodGminy" name="kodGminy" value ="0"></div>
											<div class="cell-middle"><input type="text" id="kodGminy" name="kodGminy" value ="0"></div>
											<div class="cell-middle"><input type="text" id="kodGminy" name="kodGminy" value ="0"></div>
											<div class="cell-middle"><input type="text" id="kodGminy" name="kodGminy" value ="0"></div>
										</div>
									
									</div>
									<div class="col-md-12 no-padding" style="height: 100%; min-height: 100%; height: 60px; ">
										<p style="padding: 10px;"><b>Uwaga!</b> Liczba z pkt. 9 pomniejszona o liczbę z pkt. 9a powinna być równa liczbie z pkt. 4. Dodatkowo liczba z pkt. 9a nie powinna być większa od liczby z pkt. 8e; jeśli tak nie jest &mdash; przypuszczalną przyczynę należy opisać w punkcie 16.</p>
									</div>
							
						</div>
						
						<div class="middle-data-box">
									
									<div class="col-md-12 no-padding bg-1" style="border-top: 1px solid #ddd; height: 100%; min-height: 100%; height: 60px; border-bottom: 1px solid #ddd;">
										<div class="col-md-1 last-cell" style="padding: 5px; height: 100%; min-height: 100%; text-align: center; line-height: 50px;">10</div>
										<div class="col-md-8" style="padding: 5px;height: 100%; min-height: 100%;">
											Liczba kart nieważnych <i>(innych niż urzędowo ustalone lub nieopatrzonych pieczęcią obwodowej komisji wyborczej)</i>
										</div>
										<div class="col-md-3" style="height: 100%; min-height: 100%; padding-right: 0;">
											<div class="cell-middle"><input type="text" id="kodGminy" name="kodGminy" value ="0"></div>
											<div class="cell-middle"><input type="text" id="kodGminy" name="kodGminy" value ="0"></div>
											<div class="cell-middle"><input type="text" id="kodGminy" name="kodGminy" value ="0"></div>
											<div class="cell-middle"><input type="text" id="kodGminy" name="kodGminy" value ="0"></div>
											<div class="cell-middle"><input type="text" id="kodGminy" name="kodGminy" value ="0"></div>
										</div>
									</div>
									
									<div class="col-md-12 no-padding bg-2" style=" height: 100%; min-height: 100%; height: 60px; border-bottom: 1px solid #ddd;">
										<div class="col-md-1 last-cell" style="padding: 5px; height: 100%; min-height: 100%; text-align: center; line-height: 50px;">11</div>
										<div class="col-md-8" style="padding: 5px;height: 100%; min-height: 100%;">
											Liczba kart ważnych
										</div>
										<div class="col-md-3" style="height: 100%; min-height: 100%; padding-right: 0;">
											<div class="cell-middle"><input type="text" id="kodGminy" name="kodGminy" value ="0"></div>
											<div class="cell-middle"><input type="text" id="kodGminy" name="kodGminy" value ="0"></div>
											<div class="cell-middle"><input type="text" id="kodGminy" name="kodGminy" value ="0"></div>
											<div class="cell-middle"><input type="text" id="kodGminy" name="kodGminy" value ="0"></div>
											<div class="cell-middle"><input type="text" id="kodGminy" name="kodGminy" value ="0"></div>
										</div>
									
									</div>
									<div class="col-md-12 no-padding" style="height: 100%; min-height: 100%; height: 60px; ">
										<p style="padding: 10px;"><b>Uwaga!</b> Suma liczb z pkt. 10 i 11 <b>musi</b> być równa liczbie z pkt. 9. Jeśli w pkt. 10 liczba jest większa niż 0, przyczynę należy opisać w pkt. 17.</p>
									</div>
							
						</div>
						
						<div class="middle-data-box">
									
									<div class="col-md-12 no-padding bg-1" style="border-top: 1px solid #ddd; height: 100%; min-height: 100%; height: 60px; border-bottom: 1px solid #ddd;">
										<div class="col-md-1 last-cell" style="padding: 5px; height: 100%; min-height: 100%; text-align: center; line-height: 50px;">12</div>
										<div class="col-md-8" style="padding: 5px;height: 100%; min-height: 100%;">
											Liczba głosów nieważnych <i>(z kart ważnych)</i>
										</div>
										<div class="col-md-3" style="height: 100%; min-height: 100%; padding-right: 0;">
											<div class="cell-middle"><input type="text" id="kodGminy" name="kodGminy" value ="0"></div>
											<div class="cell-middle"><input type="text" id="kodGminy" name="kodGminy" value ="0"></div>
											<div class="cell-middle"><input type="text" id="kodGminy" name="kodGminy" value ="0"></div>
											<div class="cell-middle"><input type="text" id="kodGminy" name="kodGminy" value ="0"></div>
											<div class="cell-middle"><input type="text" id="kodGminy" name="kodGminy" value ="0"></div>
										</div>
									</div>
									
									<div class="col-md-12 no-padding bg-2" style=" height: 100%; min-height: 100%; height: 60px; border-bottom: 1px solid #ddd;">
										<div class="col-md-1 last-cell" style="padding: 5px; height: 100%; min-height: 100%; text-align: center; line-height: 50px;">13</div>
										<div class="col-md-8" style="padding: 5px;height: 100%; min-height: 100%;">
											Liczba głosów ważnych oddanych łącznie na wszystkich kandydatów <i>(z kart ważnych)</i>
										</div>
										<div class="col-md-3" style="height: 100%; min-height: 100%; padding-right: 0;">
											<div class="cell-middle"><input type="text" id="kodGminy" name="kodGminy" value ="0"></div>
											<div class="cell-middle"><input type="text" id="kodGminy" name="kodGminy" value ="0"></div>
											<div class="cell-middle"><input type="text" id="kodGminy" name="kodGminy" value ="0"></div>
											<div class="cell-middle"><input type="text" id="kodGminy" name="kodGminy" value ="0"></div>
											<div class="cell-middle"><input type="text" id="kodGminy" name="kodGminy" value ="0"></div>
										</div>
									
									</div>
									<div class="col-md-12 no-padding" style="height: 100%; min-height: 100%; height: 60px; ">
										<p style="padding: 10px;"><b>Uwaga!</b> Suma liczb z pkt. 12 i 13 <b>musi</b> być równa liczbie z pkt. 11.</p>
									</div>
							
						</div>
						
						<h4 style="font-size: 18px; font-weight: bold;">14. Na poszczególnych kandydatów na Prezydenta Rzeczypospolitej Polskiej oddano następujące liczby głosów ważnych:</h4>
						<div class="middle-data-box">
									
									<div class="col-md-12 no-padding bg-2" style="border-top: 1px solid #ddd; height: 100%; min-height: 100%; height: 60px; border-bottom: 1px solid #ddd;">
										<div class="col-md-1 last-cell" style="padding: 5px; height: 100%; min-height: 100%; text-align: center; line-height: 50px; font-weight: bold;">Lp.</div>
										<div class="col-md-8" style="padding: 5px;height: 100%; min-height: 100%; text-align: center; line-height: 50px; font-weight: bold;">
											Imię i nazwisko
										</div>
										<div class="col-md-3" style="height: 100%; min-height: 100%; padding-right: 0; text-align: center;">
											<div style="height: 100%; min-height: 100%; width: 100%; border-left: 1px solid #ddd; line-height: 50px; font-weight: bold;">Liczba ważnych głosów</div>
										</div>
									</div>
									
									<div class="col-md-12 no-padding bg-1" style="height: 100%; min-height: 100%; height: 60px; border-bottom: 1px solid #ddd;">
										<div class="col-md-1 last-cell" style="padding: 5px; height: 100%; min-height: 100%; text-align: center; line-height: 50px;">1</div>
										<div class="col-md-8" style="padding: 5px;height: 100%; min-height: 100%;">
											<div class="cell-middle-name"><input type="text" id="kodGminy" name="kodGminy" value ="" placeholder="Wprowadź imię i nazwisko"></div>
										</div>
										<div class="col-md-3" style="height: 100%; min-height: 100%; padding-right: 0;">
											<div class="cell-middle"><input type="text" id="kodGminy" name="kodGminy" value ="0"></div>
											<div class="cell-middle"><input type="text" id="kodGminy" name="kodGminy" value ="0"></div>
											<div class="cell-middle"><input type="text" id="kodGminy" name="kodGminy" value ="0"></div>
											<div class="cell-middle"><input type="text" id="kodGminy" name="kodGminy" value ="0"></div>
											<div class="cell-middle"><input type="text" id="kodGminy" name="kodGminy" value ="0"></div>
										</div>
									</div>
									
									<div class="col-md-12 no-padding bg-2" style="height: 100%; min-height: 100%; height: 60px; border-bottom: 1px solid #ddd;">
										<div class="col-md-1 last-cell" style="padding: 5px; height: 100%; min-height: 100%; text-align: center; line-height: 50px;">2</div>
										<div class="col-md-8" style="padding: 5px;height: 100%; min-height: 100%;">
											<div class="cell-middle-name"><input type="text" id="kodGminy" name="kodGminy" value ="" placeholder="Wprowadź imię i nazwisko"></div>
										</div>
										<div class="col-md-3" style="height: 100%; min-height: 100%; padding-right: 0;">
											<div class="cell-middle"><input type="text" id="kodGminy" name="kodGminy" value ="0"></div>
											<div class="cell-middle"><input type="text" id="kodGminy" name="kodGminy" value ="0"></div>
											<div class="cell-middle"><input type="text" id="kodGminy" name="kodGminy" value ="0"></div>
											<div class="cell-middle"><input type="text" id="kodGminy" name="kodGminy" value ="0"></div>
											<div class="cell-middle"><input type="text" id="kodGminy" name="kodGminy" value ="0"></div>
										</div>
									</div>
									
									<div class="col-md-12 no-padding bg-1" style="height: 100%; min-height: 100%; height: 60px; border-bottom: 1px solid #ddd;">
										<div class="col-md-1 last-cell" style="padding: 5px; height: 100%; min-height: 100%; text-align: center; line-height: 50px;">3</div>
										<div class="col-md-8" style="padding: 5px;height: 100%; min-height: 100%;">
											<div class="cell-middle-name"><input type="text" id="kodGminy" name="kodGminy" value ="" placeholder="Wprowadź imię i nazwisko"></div>
										</div>
										<div class="col-md-3" style="height: 100%; min-height: 100%; padding-right: 0;">
											<div class="cell-middle"><input type="text" id="kodGminy" name="kodGminy" value ="0"></div>
											<div class="cell-middle"><input type="text" id="kodGminy" name="kodGminy" value ="0"></div>
											<div class="cell-middle"><input type="text" id="kodGminy" name="kodGminy" value ="0"></div>
											<div class="cell-middle"><input type="text" id="kodGminy" name="kodGminy" value ="0"></div>
											<div class="cell-middle"><input type="text" id="kodGminy" name="kodGminy" value ="0"></div>
										</div>
									</div>
									
									<div class="col-md-12 no-padding bg-2" style="height: 100%; min-height: 100%; height: 60px; border-bottom: 1px solid #ddd;">
										<div class="col-md-1 last-cell" style="padding: 5px; height: 100%; min-height: 100%; text-align: center; line-height: 50px;">4</div>
										<div class="col-md-8" style="padding: 5px;height: 100%; min-height: 100%;">
											<div class="cell-middle-name"><input type="text" id="kodGminy" name="kodGminy" value ="" placeholder="Wprowadź imię i nazwisko"></div>
										</div>
										<div class="col-md-3" style="height: 100%; min-height: 100%; padding-right: 0;">
											<div class="cell-middle"><input type="text" id="kodGminy" name="kodGminy" value ="0"></div>
											<div class="cell-middle"><input type="text" id="kodGminy" name="kodGminy" value ="0"></div>
											<div class="cell-middle"><input type="text" id="kodGminy" name="kodGminy" value ="0"></div>
											<div class="cell-middle"><input type="text" id="kodGminy" name="kodGminy" value ="0"></div>
											<div class="cell-middle"><input type="text" id="kodGminy" name="kodGminy" value ="0"></div>
										</div>
									</div>
									
									<div class="col-md-12 no-padding bg-1" style="height: 100%; min-height: 100%; height: 60px; border-bottom: 1px solid #ddd;">
										<div class="col-md-1 last-cell" style="padding: 5px; height: 100%; min-height: 100%; text-align: center; line-height: 50px;">5</div>
										<div class="col-md-8" style="padding: 5px;height: 100%; min-height: 100%;">
											<div class="cell-middle-name"><input type="text" id="kodGminy" name="kodGminy" value ="" placeholder="Wprowadź imię i nazwisko"></div>
										</div>
										<div class="col-md-3" style="height: 100%; min-height: 100%; padding-right: 0;">
											<div class="cell-middle"><input type="text" id="kodGminy" name="kodGminy" value ="0"></div>
											<div class="cell-middle"><input type="text" id="kodGminy" name="kodGminy" value ="0"></div>
											<div class="cell-middle"><input type="text" id="kodGminy" name="kodGminy" value ="0"></div>
											<div class="cell-middle"><input type="text" id="kodGminy" name="kodGminy" value ="0"></div>
											<div class="cell-middle"><input type="text" id="kodGminy" name="kodGminy" value ="0"></div>
										</div>
									</div>
									
									<div class="col-md-12 no-padding bg-2" style="border-left: none; height: 100%; min-height: 100%; height: 60px; ">
										<div class="col-md-1" style="padding: 5px; height: 100%; min-height: 100%; text-align: center; line-height: 50px;"></div>
										<div class="col-md-8" style="padding: 5px;height: 100%; min-height: 100%;">
											<div style="text-align: right; line-height: 50px; font-weight: bold;">Razem</div>
										</div>
										<div class="col-md-3" style="height: 100%; min-height: 100%; padding-right: 0;">
											<div class="cell-middle" style="border-bottom: 1px solid #ddd;"><input type="text" id="kodGminy" name="kodGminy" value ="0"></div>
											<div class="cell-middle" style="border-bottom: 1px solid #ddd;"><input type="text" id="kodGminy" name="kodGminy" value ="0"></div>
											<div class="cell-middle" style="border-bottom: 1px solid #ddd;"><input type="text" id="kodGminy" name="kodGminy" value ="0"></div>
											<div class="cell-middle" style="border-bottom: 1px solid #ddd;"><input type="text" id="kodGminy" name="kodGminy" value ="0"></div>
											<div class="cell-middle" style="border-bottom: 1px solid #ddd;"><input type="text" id="kodGminy" name="kodGminy" value ="0"></div>
										</div>
									</div>
									
									<div class="col-md-12 no-padding" style="height: 100%; min-height: 100%; height: 60px; ">
										<p style="padding: 10px;"><b>Uwaga!</b> Suma głosów oddanych na wszystkich kandydatów (rubryka ,,Razem'') <b>musi</b> być równa liczbie z pkt. 13, czyli liczbie głosów ważnych oddanych łącznie na wszystkich kandydatów.</p>
									</div>
							
						</div>
						
						<h3 style="font-size: 20px; font-weight: bold">III. Uwagi i adnotacjea</h3>
						<p>Komisja stwierdziła, że pieczęcie na urnie pozostały nienaruszone. Po wyjęciu kart z urny Komisja ustaliła na ich podstawie następujące wyniki głosowania</p>	
						<div class="middle-data-box">
									
									<div class="col-md-12 no-padding bg-1" style="border-top: 1px solid #ddd; height: 100%; min-height: 100%; height: 60px; border-bottom: 1px solid #ddd;">
										<div class="col-md-1 last-cell" style="padding: 5px; height: 100%; min-height: 100%; text-align: center; line-height: 50px;">15**</div>
										<div class="col-md-11" style="padding: 5px;height: 100%; min-height: 100%;">
											Uwagi o przypuszczalnej przyczynie ewentualnej różnicy pomiędzy sumą liczb z pkt. 3 i 4, a liczbą z pkt. 2. Jeżeli różnica nie występuje, wpisać &#8222;brak uwag&#8221;.
											<input style="width: 50%; text-align: center; border-bottom: 3px dotted #333; border-left: none; border-right: none; border-top: none; background: none; "type="text" id="kodGminy" name="kodGminy" value ="" placeholder="Wprowadź uwagi lub brak uwag">
										</div>
									</div>
									
									<div class="col-md-12 no-padding bg-2" style=" height: 100%; min-height: 100%; height: 60px; border-bottom: 1px solid #ddd;">
										<div class="col-md-1 last-cell" style="padding: 5px; height: 100%; min-height: 100%; text-align: center; line-height: 50px;">16**</div>
										<div class="col-md-11" style="padding: 5px;height: 100%; min-height: 100%;">
											Uwagi o przypuszczalnej przyczynie ewentualnej różnicy pomiędzy sumą liczb z pkt. 3 i 4, a liczbą z pkt. 2. Jeżeli różnica nie występuje, wpisać &#8222;brak uwag&#8221;.
											<input style="width: 50%; text-align: center; border-bottom: 3px dotted #333; border-left: none; border-right: none; border-top: none; background: none; "type="text" id="kodGminy" name="kodGminy" value ="" placeholder="Wprowadź uwagi lub brak uwag">
										</div>
									</div>
									
									<div class="col-md-12 no-padding bg-1" style=" height: 100%; min-height: 100%; height: 60px; border-bottom: 1px solid #ddd;">
										<div class="col-md-1 last-cell" style="padding: 5px; height: 100%; min-height: 100%; text-align: center; line-height: 50px;">17**</div>
										<div class="col-md-11" style="padding: 5px;height: 100%; min-height: 100%;">
											Uwagi o przypuszczalnej przyczynie ewentualnej różnicy pomiędzy sumą liczb z pkt. 3 i 4, a liczbą z pkt. 2. Jeżeli różnica nie występuje, wpisać &#8222;brak uwag&#8221;.
											<input style="width: 50%; text-align: center; border-bottom: 3px dotted #333; border-left: none; border-right: none; border-top: none; background: none; "type="text" id="kodGminy" name="kodGminy" value ="" placeholder="Wprowadź uwagi lub brak uwag">
										</div>
									</div>
									
									<div class="col-md-12 no-padding bg-2" style=" height: 100%; min-height: 100%; height: 60px; border-bottom: 1px solid #ddd;">
										<div class="col-md-1 last-cell" style="padding: 5px; height: 100%; min-height: 100%; text-align: center; line-height: 50px;">18**</div>
										<div class="col-md-11" style="padding: 5px;height: 100%; min-height: 100%;">
											Uwagi o przypuszczalnej przyczynie ewentualnej różnicy pomiędzy sumą liczb z pkt. 3 i 4, a liczbą z pkt. 2. Jeżeli różnica nie występuje, wpisać &#8222;brak uwag&#8221;.
											<input style="width: 50%; text-align: center; border-bottom: 3px dotted #333; border-left: none; border-right: none; border-top: none; background: none; "type="text" id="kodGminy" name="kodGminy" value ="" placeholder="Wprowadź uwagi lub brak uwag">
										</div>
									</div>
									
									<div class="col-md-12 no-padding" style="height: 100%; min-height: 100%; height: 60px; ">
										<p style="padding: 10px;"><b>Uwaga!</b> Suma liczb z pkt. 12 i 13 <b>musi</b> być równa liczbie z pkt. 11.</p>
									</div>
							
						</div>
		
	    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.js"></script>
	    <script src="app/main.js"></script>
	    <script src="app/common/resources.js"></script>
	    <script src="app/kalkulator/kalkulatorController.js"></script>
		
		</form>
	</div>
</body>
</html>
