body {
	font-size: 16px;
	margin-left: auto;
	margin-right: auto;
}

h1 {
	color: red;
	text-align: center;
	font-size: 24px;
	border-bottom: 1px solid red;
}

h2 {
	text-align: center;	
	font-size: 24px;
	text-transform: uppercase;
}

h3 {
	font-size: 20px;
	text-transform: uppercase;
}

h4 {
	font-size: 20px;
	font-weight: bold;
}

fieldset {
	margin-top: 20px;
	border: 1px solid #c0c0c0;
	background-color: #e0e0e0;
}

legend {
	font-size: 14pt;
	color: #404040;
}

.uwaga {
	color: #203030;
	font-size: 12px;
}

input {
	color: blue;
}

textarea {
	color: blue;
}

table {
	width: 100%;
	background-color: #f0f0f0;
}

.with_borders {
	border: 1px solid #a0a0a0;
	border-collapse: collapse;
}

tr {
	height: 55px;
}

table.with_borders tr {
	border: 1px solid #a0a0a0;
}

tr.uwaga {
	border: none;
	background-color: white;
}

td {
	padding: 5px;
}

table.with_borders td {
	border: 1px solid #a0a0a0;
}

.lp {
	text-align: center;
}

.info {
	text-align: center;
}

/** 22.03.2015 **/
	
.main-table-calc{
	width: 100%;
}

.container-box{
	width: 900px;
	margin: 0 auto;
	padding-bottom: 50px;
}

.top-data{
	width: 100%;
	border: 1px solid #ddd;
	background-color: #f1f1ff; 
	overflow: hidden;
}

.data-row{
	width: 100%;
	border-bottom: 1px solid #ddd;
	overflow: hidden;
	display: block;	
	position:relative;
	height: 70px;
}

.data-row h1{
	border: medium none;
    color: #333;
    font-size: 20px;
    text-align: center;
    text-transform: uppercase;
}

.number-cell{
	border-left: 1px solid #bbb;
    padding: 0 !important;
    height: 100%;
}

.middle-row{
	height: 60px !important;
}

.bottom-info{
	padding: 10px;
}

.data-title{
	margin: 0;
	line-height: 70px;
}

.last-cell{
	border-right: 1px solid #bbb;
}

.number-cell input{
	border: medium none;
    max-width: 100%;
    width: 100%;
    height: 100%;
    line-height: 60px;
    background: none;
    text-align: center;
    font-weight: bold;
}

.input-cell{
	width: 100%;
	height: 100%;
	background: none;
	border: none;
	line-height: 70px;
	font-weight: bold;
}

.bg-1{
	background: #eee;
	border-left: 1px solid #ddd;
	border-right: 1px solid #ddd;
}

.bg-2{
	background: #fff;
	border-left: 1px solid #ddd;
	border-right: 1px solid #ddd;
}

.middle-data-box{
	padding: 0;
	overflow: hidden;
	margin-bottom: 30px;
}

/** DELET 

.cell-middle{
	height: 100%;
	width: 20%;
	border-left: 1px solid #ddd;
	float: left;
}

.cell-middle input{
	border: medium none;
    max-width: 100%;
    width: 100%;
    height: 100%;
    line-height: 70px;
    background: none;
    text-align: center;
    font-weight: bold;
}

**/

.cell-middle-name{
	height: 100%;
	width: 100%;
}

.cell-middle-name input{
	border: medium none;
    max-width: 100%;
    width: 100%;
    height: 100%;
    line-height: 70px;
    background: none;
    text-align: center;
}

.middle-data{
	overflow: hidden;
    padding-top: 30px;
}

.input-info{
	border-bottom: 3px dotted #333; 
	border-left: none; 
	border-right: none; 
	border-top: none; 
	background: none; 
}

/** HELPER CLASSES **/

.padding-right-0{
	padding-right: 0 !important;
}

.padding-left-0{
	padding-left: 0 !important;
}

.no-padding{
	padding: 0 !important;
}

.no-border{
	border: none !important;
}

.height-100{
	min-height: 100%; /** For Modern Browsers **/
	height: 100%; /** For IE **/
}

.border-solid-left{
	border-left: 1px solid #bbb;
}

.border-solid-right{
	border-right: 1px solid #bbb;
}

.space{
	letter-spacing: 5px;
}

.align-right{
	text-align: right;
}

.align-left{
	text-align: left;
}

.align-center{
	text-align: center;
}

.table-title{
	font-weight: bold;
	text-align: right;
}

.size-h3{
	font-size: 20px;
}

.size-h4{
	font-size: 14px;
}

.display-table{
	display: table;
}

.cell-style-center{
	display: table-cell;
	vertical-align: middle;
	text-align: center !important;
}

.cell-style-center-left{
	display: table-cell;
	vertical-align: middle;
	text-align: left !important;
}

.cell-style-center-right{
	display: table-cell;
	vertical-align: middle;
	text-align: right !important;
}

.last-no-border{
	border: none !important;
}

.font-bold{
	font-weight: bold;
}

.border-top{
	border-top: 1px solid #ddd;
}

.border-bottom{
	border-bottom; 1px solid #ddd;
}
