<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title>Wybory prezydenta Rzeczypospolitej Polskiej</title>
	<link rel="stylesheet" href="styles.css"/>
</head>
<body>

<form>
	<table class="with_borders">
		<tr>
			<td colspan="6"><h2>Wybory Prezydenta Rzeczypospolitej Polskiej</h2></td>
		</tr>
		<tr>
			<td colspan="2" style="text-align: right">Kod terytorialny gminy<br/>(dzielnicy w m. st. Warszawie)</td>
			<td>${form.komisja.kodTerytorialnyGminy}</td>
			<td colspan="2" style="text-align:right">Nr obwodu głosowania</td>
			<td>${form.komisja.numerObwoduGlosowania}</td>
		</tr>
		<tr>
			<td colspan="2" style="text-align: right">Siedziba Obwodowej Komisji Wyborczej (adres)</td>
			<td colspan="4">${form.komisja.siedzibaObwodowejKomisjiWyborczej}</td>
		</tr>
		<tr>
			<td style="text-align: right">Gmina/Dzielnica</td>
			<td>${form.komisja.gminaDzielnica}</td>
			<td style="text-align: right">Powiat</td>
			<td>${form.komisja.powiat}</td>
			<td style="text-align: right">Województwo</td>
			<td>${form.komisja.wojewodztwo}</td>
		</tr>
	</table>

    <h2>Protokół wyników głosowania w obwodzie<br />
        w wyborach Prezydenta Rzeczypospolitej Polskiej<br />
		przeprowadzonego w dniu ${form.akcjaWyborcza.dataGlosowania}.</h2>
	<p>Głosowanie rozpoczęło się w dniu ${form.akcjaWyborcza.dzienMiesiacGlosowania} 20${form.akcjaWyborcza.rokGlosowania} r. 	
	o godz. ${form.akcjaWyborcza.godzinaGlosowaniaOd} i trwało do godz. ${form.akcjaWyborcza.godzinaGlosowaniaDo}
	.</p>

	<h3>I. Rozliczenie kart do głosowania</h3>
	<table class="with_borders">
		<tr>
			<td class="lp" style="width:20px">1.</td>
			<td style="width: 400px">Liczba wyborców uprawnionych do głosowania <i>(umieszczonych w spisie, z uwzględnieniem dodatkowych formularzy)</i> w chwili zakończenia głosowania</td>
			<td style="width: 100px">${form.rozliczenieKart.pole1}</td>
		</tr>
		<tr>
			<td class="lp">2.</td>
			<td>Komisja otrzymała kart do głosowania</td>
			<td>${form.rozliczenieKart.pole2}</td>
		</tr>
		<tr>
			<td class="lp">3.</td>
			<td>Nie wykorzystano kart do głosowania</td>
			<td>${form.rozliczenieKart.pole3}</td>
		</tr>
		<tr>
			<td class="lp">4.</td>
			<td>Liczba wyborców, którym wydano karty do głosowania</td>
			<td>${form.rozliczenieKart.pole4}</td>
		</tr>
		<tr class="uwaga">
			<td colspan="3" class="uwaga"><b>Uwaga!</b> Suma liczb z pkt. 3 i 4 powinna być równa liczbie z pkt. 2. Jeśli tak nie jest, przypuszczalną przyczynę należy omówić w pkt. 9.</td>
		</tr>
		<tr>
			<td class="lp">5.</td>
			<td>Liczba wyborców głosujących przez pełnomocnika <i>(liczba kart do głosowania wydanych na podstawie otrzymanych przez komisję aktów pełnomocnictwa)</i></td>
			<td>${form.rozliczenieKart.pole5}</td>
		</tr>
		<tr class="uwaga"><td colspan="3"></td></tr>
		<tr>
			<td class="lp">6.</td>
			<td>Liczba wyborców głosujących na podstawie zaświadczenia o prawie do głosowania</td>
			<td>${form.rozliczenieKart.pole6}</td>
		</tr>
		<tr class="uwaga"><td colspan="3"></td></tr>
		<tr>
			<td class="lp">7.</td>
			<td>Liczba wyborców, którym wysłano pakiety wyborcze</td>
			<td>${form.rozliczenieKart.pole7}</td>
		</tr>
		<tr>
			<td class="lp">8.</td>
			<td>Liczba otrzymanych kopert zwrotnych</td>
			<td>${form.rozliczenieKart.pole8}</td>
		</tr>
		<tr>
			<td class="lp">8a.</td>
			<td>Liczba kopert zwrotnych, w których nie było oświadczenia o osobistym i tajnym oddaniu głosu</td>
			<td>${form.rozliczenieKart.pole8a}</td>
		</tr>
		<tr>
			<td class="lp">8b.</td>
			<td>Liczba kopert zwrotnych, w których oświadczenie nie było podpisane przez wyborcę</td>
			<td>${form.rozliczenieKart.pole8b}</td>
		</tr>
		<tr>
			<td class="lp">8c.</td>
			<td>Liczba kopert zwrotnych, w których nie było koperty na kartę do głosowania</td>
			<td>${form.rozliczenieKart.pole8c}</td>
		</tr>
		<tr>
			<td class="lp">8d.</td>
			<td>Liczba kopert zwrotnych, w których znajdowała się niezaklejona koperta na kartę do głosowania</td>
			<td>${form.rozliczenieKart.pole8d}</td>
		</tr>
		<tr>
			<td class="lp">8e.</td>
			<td>Liczba kopert na kartę do głosowania wrzuconych do urny</td>
			<td>${form.rozliczenieKart.pole8e}</td>
		</tr>
		<tr class="uwaga">
			<td colspan="3"><b>Uwaga!</b> Liczba z pkt. 8 nie może być większa od liczby z pkt. 7. Suma liczba z pkt. 8a–8e nie może być większa od liczby z pkt. 8.</td>
		</tr>
	</table>
 
	<h3>II. Ustalenie wyników głosowania</h3>
	<p>Komisja stwierdziła, że pieczęcie na urnie pozostały nienaruszone. Po wyjęciu kart z urny Komisja ustaliła na ich podstawie następujące wyniki głosowania:</p>

	<table class="with_borders">
		<tr>
			<td class="lp" style="width: 20px">9.</td>
			<td>Liczba kart wyjętych z urny</td>
			<td style="width: 100px">${form.wynikiGlosowania.pole9}</td>
		</tr>
		<tr>
			<td class="lp">9a.</td>
			<td>w tym liczba kart wyjętych z kopert na kartę do głosowania</td>
			<td>${form.wynikiGlosowania.pole9a}</td>
		</tr>
		<tr class="uwaga">
			<td colspan="3"><b>Uwaga!</b> Liczba z pkt. 9 pomniejszona o liczbę z pkt. 9a powinna być równa liczbie z pkt. 4. Dodatkowo liczba z pkt. 9a nie powinna być większa od liczby z pkt. 8e; jeśli tak nie jest &mdash; przypuszczalną przyczynę należy opisać w punkcie 16.</td>
		</tr>
		<tr>
			<td class="lp">10.</td>
			<td>Liczba kart nieważnych <i>(innych niż urzędowo ustalone lub nieopatrzonych pieczęcią obwodowej komisji wyborczej)</i></td>
			<td>${form.wynikiGlosowania.pole10}</td>
		</tr>
		<tr>
			<td class="lp">11.</td>
			<td>Liczba kart ważnych</td>
			<td>${form.wynikiGlosowania.pole11}</td>
		</tr>
		<tr class="uwaga">
			<td colspan="3"><b>Uwaga!</b> Suma liczb z pkt. 10 i 11 <b>musi</b> być równa liczbie z pkt. 9. Jeśli w pkt. 10 liczba jest większa niż 0, przyczynę należy opisać w pkt. 17.</td>
		</tr>
		<tr>
			<td class="lp">12.</td>
			<td>Liczba głosów nieważnych <i>(z kart ważnych)</i></td>
			<td>${form.wynikiGlosowania.pole12}</td>
		</tr>
		<tr>
			<td class="lp">13.</td>
			<td>Liczba głosów ważnych oddanych łącznie na wszystkich kandydatów <i>(z kart ważnych)</i></td>
			<td>${form.wynikiGlosowania.pole13}</td>
		</tr>
		<tr class="uwaga">
			<td colspan="3"><b>Uwaga!</b> Suma liczb z pkt. 12 i 13 <b>musi</b> być równa liczbie z pkt. 11.</td>
		</tr>
	</table>		

	<h4>14. Na poszczególnych kandydatów na Prezydenta Rzeczypospolitej Polskiej oddano następujące liczby głosów ważnych:</h4>
	<table class="with_borders">
		#foreach($wynikiKandydata in $form.wynikiGlosowania.pole14)
		<tr>
			<td class="lp" style="width:20px">${velocityCount}.</td>
			<td>${wynikiKandydata.imionaINazwisko}</td>
			<td style="width: 100px">${wynikiKandydata.sumaGlosowWaznych}</td>
		</tr>
		#end
		<tr>
			<td>&nbsp;</td>
			<td style="text-align: right"><b>Razem:</b></td>
			<td>${form.wynikiGlosowania.sumaGlosowWaznych}</td>
		</tr>
	</table>	

	<p class="uwaga"><b>Uwaga!</b> Suma głosów oddanych na wszystkich kandydatów (rubryka ,,Razem'') <b>musi</b> być równa liczbie z pkt. 13, czyli liczbie głosów ważnych oddanych łącznie na wszystkich kandydatów.</p>

	<h3>III. Uwagi i adnotacje</h3>

	<table>
		<tr>
			<td style="width: 20px; vertical-align: top">15.</td>
			<td style="vertical-align: top">Uwagi o przypuszczalnej przyczynie ewentualnej różnicy pomiędzy sumą liczb z pkt. 3 i 4, a liczbą z pkt. 2. Jeżeli różnica nie występuje, wpisać &#8222;brak uwag&#8221;: </td>
		</tr>
		<tr>
			<td>&nbsp;</td>
			<td style="vertical-align: top">${form.uwagiIAdnotacje.pole15}</td>
		</tr>

		<tr>
			<td style="vertical-align: top">16.</td>
			<td style="vertical-align: top">Uwagi o przypuszczalnej przyczynie ewentualnej różnicy pomiędzy liczbą z pkt. 9 pomniejszoną o liczbę z pkt. 9a, a liczbą z pkt. 4, a także o przypuszczalnej przyczynie ewentualnej różnicy pomiędzy liczbą z pkt. 9a a liczbą z pkt. 8e. Jeżeli różnica nie występuje, wpisać &#8222;brak uwag&#8221;.</td>
		</tr>
		<tr>
			<td>&nbsp;</td>
			<td style="vertical-align: top">${form.uwagiIAdnotacje.pole16}</td>
		</tr>

		<tr>
			<td style="vertical-align: top">17.</td>
			<td style="vertical-align: top">Uwagi o przypuszczalnej przyczynie wystąpienia kart nieważnych (pkt. 10); jeżeli liczba w pkt. 10 wynosi 0, wpisać &#8222;brak uwag&#8221;.</td>
		</tr>
		<tr>
			<td>&nbsp;</td>
			<td style="vertical-align: top">${form.uwagiIAdnotacje.pole17}</td>
		</tr>

		<tr>
			<td style="vertical-align: top">18.</td>
			<td style="vertical-align: top">W trakcie głosowana wydano następujące zarządzenia. Jeżeli nie wydano, wpisać &#8222;brak zarządzeń&#8221;.</td>
		</tr>
		<tr>
			<td>&nbsp;</td>
			<td style="vertical-align: top">${form.uwagiIAdnotacje.pole18}</td>
		</tr>
		<tr>
			<td style="vertical-align: top">19.</td>
			<td style="vertical-align: top">Adnotacje o wniesieniu uwag przez mężów zaufania z wymienieniem konkretnych zarzutów. Jeżeli nie ma, wpisać &#8222;brak zarzutów&#8221; lub &#8222;brak mężów zaufania w obwodzie&#8221;.</td>
		</tr>
		<tr>
			<td>&nbsp;</td>
			<td style="vertical-align: top">${form.uwagiIAdnotacje.pole19}</td>
		</tr>
		<tr>
			<td style="vertical-align: top">20.</td>
			<td style="vertical-align: top">Adnotacje o wniesieniu uwag przez członków Komisji z wymienieniem konkretnych zarzutów. Jeżeli nie ma, wpisać &#8222;brak zarzutów&#8221;.</td>
		</tr>
		<tr>
			<td>&nbsp;</td>
			<td style="vertical-align: top">${form.uwagiIAdnotacje.pole20}</td>
		</tr>
		<tr>
			<td style="vertical-align: top">21.</td>
			<td style="vertical-align: top">Inne uwagi. Jeżeli nie ma, wpisać &#8222;brak uwag&#8221;.</td>
		</tr>
		<tr>
			<td>&nbsp;</td>
			<td style="vertical-align: top">${form.uwagiIAdnotacje.pole21}</td>
		</tr>
	</table>

	<p>Przy sporządzaniu protokołu obecni byli członkowie Komisji:</p>

	<table class="without_borders">
		#foreach ( $czlonekKomisji in $form.czlonkowieKomisji)
		<tr>
			<td class="lp" style="width: 20px; vertical-align: top">${velocityCount}.</td>
			<td style="vertical-align:top">${czlonekKomisji.imionaINazwisko} ($czlonekKomisji.funkcjaWKomisji)</td>
		</tr>
		#end
	</table>

</form>

</body>
</html>